<section class="card">
    <a class="card-tag" href="/posts/{{id}}">
        <header>{{description}}</header>
        <p>{{time_created}}</p>
        <a href="posts/{{id}}">{{User.username}}</a>
    </a>
</section>