<section class="card">
    <a href="/posts/{{id}}">
        <header>{{description}}</header>
        <p>{{time_created}}</p>
        <a href="/api/users/{{id}}">{{User.username}}</a>
    </a>
</section>